extends layout

block content
  h1 Account Verification and Two-Factor Authentication
  p.
    This is a simple example of Account Validation and Two-Factor Authentication
    using Node.js, <a href="http://www.twilio.com">Twilio</a> and the Express 
    web framework.  Sign in or create an account using the links above.