extends layout

block content
  h1 Log In To Your Account

  .row
    .col-md-12
      form(action='/tokens', method='POST', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)

        .form-group
          label(for='email') Your E-Mail Address
          input(type='text', name='email', class='form-control')

        .form-group
          label(for='password') Password
          input(type='password', name='password', class='form-control')

        button(type='submit', class='btn btn-primary') Log In