extends layout

block content
  h1 Just To Be Safe...

  p.
    Thanks for inputing your e-mail and password. We're contacting
    you on your mobile phone now to validate that it's really you.
    Enter your confirmation code below.

  .row
    .col-md-12
      form(action='/tokens/'+id, method='POST', role='form')
        input(type='hidden', name='_csrf', value=csrfToken)

        .form-group
          label(for='code') Confirmation Code
          input(type='text', name='code', class='form-control')

        button(type='submit', class='btn btn-primary') Verify Account